<style>
    .list-body {
        width: 100%;
    }
</style>
<div class="list-body">
    <div class=frame>
        <div class="pagination-prev">
            <button class="pagination prev"></button>
        </div>
        <div class="pagination-list"></div>
        <div class="pagination-next">
            <button class="pagination next"></button>
        </div>
    </div>
</div>