<style>
  .header-profile-card {
    background-color: white;
    padding:15px;
  }
  .header-profile-card .information {
    width:100%;
  }
  .header-profile-card .function {
    border-top:1px solid #c8c8c8;
  }
</style>
<div class="header-profile-card">
  <div class="information">
    <div class="profile">
      <img data-default='./static/images/account icon.svg' src="{{ src }}">
    </div>
    <div class="account">
      <div class="name">{{ name }}</div>
      <div class="email">{{ email }}</div>
      <div class="btn-group">
        <button class="btn-view-account">View Account</button>
      </div>
    </div>
  </div>
  <div class="function">
    <button class="sign js_sign">Sign {{ isLogin ? "Out" : "In" }}</button>
  </div>
</div>
