<style>
    .editor-container {
      width: 200px;
      height: 580px;
      font-family: roboto;
      font-size: 10px;
      font-weight: bold;
      box-shadow: 0 5px 0 5px #eaecf5;
    }

    .editor-container .editor-panel-title {
      height: 17px;
      background-color: #8995b6;
      color: #ffffff;
      padding: 4px;
    }

    .editor-container .editor-panel-title img {
      height: 14px;
      margin-right: 4px;
    }

    .editor-container .editor-panel-title span {
      vertical-align: top;
    }
    .editor-container .editor-panel-body {
        padding: 12px 0 12px 0;
    }

    .editor-container .editor-panel-row {
        width: 200px;
        margin: 4px 0;
        padding-left: 10px;
    }

    .px-label {
      width: 90px;
      height: 25px;
      display: inline-block;
      color: #8995b6;
      background-color: #eceff4;
    }

    .editor-option-label {
      width: 70px;
      display: inline-block;
      line-height: 30px;
      color: #8995b6;
    }

    .editor-px-input {
      width: 70px;
      height: 25px;
      border: none;
      padding-right: 10px;
      color: #8995b6;
      background-color: #eceff4;
      text-align: right;
    }
    .editor-input {
      width: 90px;
      height: 25px;
      border: none;
      padding-right: 10px;
      color: #8995b6;
      background-color: #eceff4;
      text-align: right;
    }
</style>

<div class="editor-container">
    <div class="editor-panel">
        <div class="editor-panel-title">
          <img src="../../static/images/canvas-01.svg"><span>Canvas</span>
        </div>
        <div class="editor-panel-body">
          <div class="editor-panel-row">
            <label for="canvas-width" class="editor-option-label">Width</label>
            <label class="px-label">
              <input name="canvas-width" class="editor-px-input">
              <span>px</span>
            </label>
          </div>
          <div class="editor-panel-row">
            <label for="canvas-height" class="editor-option-label">Height</label>
            <label class="px-label">
              <input name="canvas-height" class="editor-px-input">
              <span>px</span>
            </label>
          </div>
          <div class="editor-panel-row">
              <label for="canvas-color" class="editor-option-label">Color</label>
              <input name="canvas-color" class="editor-input">
          </div>
        </div>
    </div>
    <div class="editor-panel">
      <div class="editor-panel-title">
        <img src="../../static/images/shapes-01.svg"><span>Shape</span>
      </div>
      <div class="editor-panel-body">
          <div class="editor-panel-row">
            Rectangle / line
          </div>
          <div class="editor-panel-row">
            <label for="shape-width" class="editor-option-label">Width</label>
            <label class="px-label">
              <input name="shape-width" class="editor-px-input">
              <span>px</span>
            </label>
          </div>
          <div class="editor-panel-row">
            <label for="shape-height" class="editor-option-label">Height</label>
            <label class="px-label">
              <input name="shape-height" class="editor-px-input">
              <span>px</span>
            </label>
          </div>
          <div class="editor-panel-row">
              <label for="shape-color" class="editor-option-label">Color</label>
              <input name="shape-color" class="editor-input">
          </div>
        </div>
        <div class="editor-panel">
          <div class="editor-panel-title">
            <img src="../../static/images/text_side_editor-010.svg"><span>Text</span>
          </div>
          <div class="editor-panel-body">
            <div class="editor-panel-row">
                <button>B</button>
                <button>I</button>
                <button>U</button>
                <button>A</button>
            </div>
            <div class="editor-panel-row">
                <button>left</button>
                <button>center</button>
                <button>right</button>
                <button>align</button>
            </div>
            <div class="editor-panel-row">
                <label for="label-font" class="editor-option-label">Font</label>
                <select name="label-font" class="editor-input"></select>
            </div>
            <div class="editor-panel-row">
                <label for="label-style" class="editor-option-label">Style</label>
                <select name="label-style" class="editor-input"></select>
            </div>
            <div class="editor-panel-row">
                <label for="label-size" class="editor-option-label">Size</label>
                <select name="label-size" class="editor-input"></select>
            </div>
            <div class="editor-panel-row">
                <label for="label-spacing" class="editor-option-label">Spacing</label>
                <select name="label-spacing" class="editor-input"></select>
            </div>
          </div>
        </div>
    </div>
