<style>
  .image-box {
    width: 250px;
    color: #57607d;
    background-color: #ffffff;
    font-size: 13px;
  }

  .image-box .image-box-title {
    color: #ffffff;
    background-color: #57607d;
    padding: 10px 0 10px 25px;
    font-weight: bold;
  }
  .image-box .image-box-content {
    padding: 16px 25px 12px 25px;
  }

  .image-box .insert-url-message {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 16px;
  }

  .image-box .insert-url-box {
    width: 200px;
    height: 23px;
    margin-bottom: 16px;
    border-radius: 2px;
    background-color: #eeeff4;
    border: 0;
  }

  .image-box .insert-url-btn-each {
    padding: 5px 15px;
    color: #57607d;
    font-weight: bold;
    background-color: #ffffff;
    border: 0;
    float: right;
  }
</style>
<div class="image-box">
  <div class="image-box-title">
    Image
  </div>
  <div class="image-box-content">
    <span class="insert-url-message">Insert an image from a URL:</span>
    <input type="text" class="insert-url-box">
    <div class="insert-url-btn-groups">
      <button class="insert-url-btn-each">Insert</button>
      <button class="insert-url-btn-each">Cancel</button>
    </div>
  </div>

</div>
