<style>
    .editor-body {
        padding:5em 1em 0 1em;
    }
    .editor-body .canvas {
        margin:0 auto;
        position:relative;
        box-sizing:content-box;

        background-color:#FFFFFF;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

        width:595px;
        height:842px;
    }
</style>
<div class="editor-body">
    <div class="canvas">

    </div>
</div>