<style>
  .editor-panel {
    width: 200px;
    font-size: 10px;
    font-weight: bold;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }

  .editor-panel .editor-panel-title {
    position:relative;
    background-color: #8995b6;
    color: #ffffff;
    padding: 5px 0 5px 15px;
  }

  .editor-panel .editor-panel-title img {
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
  }

  .editor-panel .editor-panel-title .align-right {
    float:right;
  }

  .editor-panel .editor-panel-title span {
    vertical-align: middle;
  }

  .editor-panel .editor-panel-body-canvas {
    padding: 12px 0 12px 0;
  }

  .editor-panel .editor-panel-body {
    padding-bottom: 12px;
  }

  .editor-panel .editor-panel-row {
    display: inline-block;
    width: 200px;
    margin: 4px 0;
    padding-left: 10px;
  }

  .editor-panel .editor-panel-row button {
    background: 0;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .editor-panel .editor-panel-row button > * {
    vertical-align: middle;
  }

  .editor-panel .editor-panel-row-text {
    text-align: center;
    padding-left: 0;
  }

  .editor-panel .editor-panel-row-text button {
    margin: 0 5px;
  }

  .editor-panel .editor-panel-row img {
    margin-right: 10px;
  }

  .editor-panel .span-margin-right {
    margin-right: 10px;
    color: #8995b6;
  }

  .editor-panel .editor-panel-row {
    margin-right: 10px;
  }

  .editor-panel .editor-panel-row.editor-panel-row-button {
    margin: 0 0 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #eceff4;
    text-align: center;
  }

  .editor-panel .editor-panel-row.editor-panel-row-button > div {
    display: inline-block;
    border: 0;
    outline: 0;
  }

  .editor-panel .editor-panel-row.editor-panel-row-button > div > * {
    display: inline-block;
    vertical-align: middle;
  }

  .editor-panel .px-label {
    height: 25px;
    display: inline-block;
    color: #8995b6;
    background-color: #eceff4;
  }

  .editor-panel .editor-option-label {
    padding: 0 5px;
    width: 50px;
    display: inline-block;
    line-height: 30px;
    color: #8995b6;
  }

  .editor-panel .editor-px-input {
    width: 98px;
    height: 25px;
    border: none;
    color: #8995b6;
    padding: 0 5px;
    background-color: #eceff4;
    text-align: right;
  }

  .editor-panel .editor-px-input + span {
    display: inline-block;
    width: 20px;
  }

  .editor-panel .editor-input {
    width: 120px;
    height: 25px;
    padding: 0 10px;
    border: none;
    color: #8995b6;
    background-color: #eceff4;
    text-align: right;
  }
</style>
<script>
  $(document).ready(function () {
    var addColorPicker = function ($editor, callback) {
      $editor.ColorPicker({
        onChange: function (hsb, hex, rgb) {
          $editor.val(hex);
          $editor.change();
          if (typeof callback === 'function') {
            callback(hex);
          }
        },
        onSubmit: function (hsb, hex, rgb, el) {
          $editor.val(hex);
          $(this).ColorPickerHide();
          $editor.change();
          if (typeof callback === 'function') {
            callback(hex);
          }
        },
        onBeforeShow: function () {
          $(this).ColorPickerSetColor($editor.val());
        }
      })
      .on({
        keyup: function () {
          $(this).ColorPickerSetColor($editor.val());
        }
      });
    };

    var decimalToHex = function (decimal) {
      var hex = decimal.toString(16);
      if (hex.length == 1) hex = '0' + hex;
      return hex;
    };
    var hexToDecimal = function (hex) {
      return parseInt(hex, 16);
    };

    var getOpposite = function (colour) {
      return decimalToHex(255 - hexToDecimal(colour.substr(0, 2)))
        + decimalToHex(255 - hexToDecimal(colour.substr(2, 2)))
        + decimalToHex(255 - hexToDecimal(colour.substr(4, 2)));
    };

    var addStyleOppositeWithBackground = function (hex) {
      var items = {
        'children': {
          '.component.ui-resizable:not([data-id=NaN]):after': {
            'attributes': {
              'border-color': '#' + getOpposite(hex)
            }
          },
          '.component.ui-resizable:not([data-id=NaN]):before': {
            'attributes': {
              'background-color': '#' + getOpposite(hex),
              'color': '#' + hex
            }
          }
        }
      };

      var $style = $('style.opposite_with_background');
      if ($style.length > 0) {
        $style.html(CSSJSON.toCSS(items));
      } else {
        $('<style>', {rel: 'stylesheet', class: 'opposite_with_background', html: CSSJSON.toCSS(items)})
        .appendTo('head');
      }
    };

    var $canvasColor = $("input[name=canvas-color]");
    var $shapeColor = $("input[name=shape-color]");
    addColorPicker($canvasColor, addStyleOppositeWithBackground);
    addColorPicker($shapeColor);

    var $shapeTag = $('input[name=shape-tag]');
    $shapeTag.on('change', function(){
      var className = 'component-tag';
      var $style = $('style.' + className);
      var items = {
        'children': {
          '.component.ui-resizable:not([data-id=NaN]):before': {
            'attributes': {
              'display': 'none'
            }
          }
        }
      };
      $style.remove();

      if(!$(this).prop('checked')) {
        $('<style>', {rel: 'stylesheet', class: className, html: CSSJSON.toCSS(items)})
        .appendTo('head');
      }
    });

    $('.editor-panel').draggable({
      cursor: 'move',
      containment: 'article#article'
    });

  });
</script>
<div class="editor-container">
  <div class="editor-panel" data-editor="canvas">
    <div class="editor-panel-title">
      <img src="./static/images/canvas-01.svg"><span>Canvas</span>
    </div>
    <div class="editor-panel-body-canvas">
      <div class="editor-panel-row">
        <label class="editor-option-label">Width</label>
        <label class="px-label">
          <input name="canvas-width" class="editor-px-input">
          <span>px</span>
        </label>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Height</label>
        <label class="px-label">
          <input name="canvas-height" class="editor-px-input">
          <span>px</span>
        </label>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Color</label>
        <input name="canvas-color" class="editor-input">
      </div>
    </div>
  </div>
  <div class="editor-panel" data-editor="shape">
    <div class="editor-panel-title">
      <img src="./static/images/shapes-01.svg"><span>Shape</span>
      <div class="align-right">
        <input type="checkbox" name="shape-tag" checked>
      </div>
    </div>
    <div class="editor-panel-body">
      <div class="editor-panel-row editor-panel-row-button">
        <div class="rectangle" data-tool="rectangle">
          <img src="./static/images/shape_rectangle-01.svg">
          <span class="span-margin-right">Rectangle</span>
        </div>
        <div class="line" data-tool="line">
          <img src="./static/images/shape_line-01.svg">
          <span class="span-margin-right">Line</span>
        </div>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Width</label>
        <label class="px-label">
          <input name="shape-width" class="editor-px-input">
          <span>px</span>
        </label>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Height</label>
        <label class="px-label">
          <input name="shape-height" class="editor-px-input">
          <span>px</span>
        </label>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Color</label>
        <input name="shape-color" class="editor-input">
      </div>
    </div>
  </div>
  <div class="editor-panel" data-editor="text">
    <div class="editor-panel-title">
      <img src="./static/images/text_side_editor-010.svg"><span>Text</span>
    </div>
    <div class="editor-panel-body">
      <div class="editor-panel-row editor-panel-row-text editor-panel-row-button">
        <button><img src="./static/images/font_bold-01.svg"></button>
        <button><img src="./static/images/font_italic-01.svg"></button>
        <button><img src="./static/images/font_underline-01.svg"></button>
        <button><img src="./static/images/font_highlight-01.svg"></button>
      </div>
      <div class="editor-panel-row editor-panel-row-text editor-panel-row-button">
        <button><img src="./static/images/a_1-01-01.svg"></button>
        <button><img src="./static/images/a_2-01.svg"></button>
        <button><img src="./static/images/a_3-01-01.svg"></button>
        <button><img src="./static/images/a_4-01-01-01.svg"></button>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Font</label>
        <select name="label-font" class="editor-input"></select>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Style</label>
        <select name="label-style" class="editor-input"></select>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Size</label>
        <select name="label-size" class="editor-input"></select>
      </div>
      <div class="editor-panel-row">
        <label class="editor-option-label">Spacing</label>
        <select name="label-spacing" class="editor-input"></select>
      </div>
    </div>
  </div>
</div>
