<link rel="stylesheet" href="../../static/css/base.min.css">
<style>
  .upper-editor {
    border-bottom: 1px solid #eceff4;
    background-color: #f2f5fe;
  }
  .upper-editor .upper-editor-left {
    width: 60%;
    display: inline-block;
    border-right: 1px solid #cad0dd;
    text-align: right;
  }

  .upper-editor .upper-editor-right {
    width: 30%;
    display: inline-block;
    text-align: left;
  }

  /*#a2adc9*/

  .upper-editor .svg-container {
    margin-right: 10px;
    display: inline;
    line-height: 25px;
  }

  .upper-editor .upper-editor-right .upper-editor-right-each {
    margin-left: 10px;
    display: inline;
    line-height: 25px;
  }
</style>
<div class="upper-editor">
  <div class="upper-editor-left">
    <div class="svg-container">
      <img src="./static/images/">
    </div>
    <div class="svg-container">
      <img src="./static/images/">
    </div>
    <div class="svg-container">
      <img src="./static/images/text_side_editor-010.svg">
    </div>
    <div class="svg-container">
      <select>
        <option value="rectangle"></option>
        <option value="line"></option>
      </select>
    </div>
    <div class="svg-container">
      <img src="./static/images/image-01.svg">
    </div>
    <div class="svg-container">
      <img src="./static/images/">
    </div>
  </div>


  <div class="upper-editor-right">
    <div class="upper-editor-right-each">
      <select>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
      </select>
    </div>
    <div class="upper-editor-right-each">
      <button></button>
    </div>
  </div>
</div>
