<link rel="stylesheet" href="../../static/css/base.min.css">
<style>
  .upper-editor {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eceff4;
    background-color: #f2f5fe;
  }
  .upper-editor .upper-editor-left {
    width: 60%;
    margin: 16px 0;
    display: inline-block;
    border-right: 1px solid #cad0dd;
    text-align: right;
  }

  .upper-editor .upper-editor-right {
    width: 30%;
    margin: 16px;
    display: inline-block;
    text-align: left;
  }

  /*#a2adc9*/

  .upper-editor .svg-container {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  .upper-editor .upper-editor-right .upper-editor-right-each {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .upper-editor .document-setup-button {
    padding: 5px 15px;
    color: #ffffff;
    background-color: #a2adc9;
    border: 0;
    outline: 0;
  }
</style>
<div class="upper-editor">
  <div class="upper-editor-left">
    <div class="svg-container">
      <img src="../../static/images/undo-01.svg">
    </div>
    <div class="svg-container">
      <img src="../../static/images/redo-01.svg">
    </div>
    <div class="svg-container">
      <img src="../../static/images/text_side_editor-01.svg">
    </div>
    <div class="svg-container">
      <select>
        <option style="background-image:url(../../static/images/shape_rectangle-01.svg);"></option>
        <option style="background-image:url(../../static/images/shape_line-01.svg);"></option>
      </select>
    </div>
    <div class="svg-container">
      <img src="../../static/images/image-01.svg">
    </div>
    <div class="svg-container">
      <img src="../../static/images/link-01.svg">
    </div>
  </div>


  <div class="upper-editor-right">
    <div class="upper-editor-right-each">
      <select>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
      </select>
    </div>
    <div class="upper-editor-right-each">
      <button class="document-setup-button">Document Setup</button>
    </div>
  </div>
</div>
