<style>
    .header-profile-card {
        position:absolute;

    }
</style>
<div class="header-profile-card">
    <div class="information">
        <div class="profile">
            <div class="icon"></div>
        </div>
        <div class="account">
            <div class="name"></div>
            <div class="email"></div>
            <div class="btn-group">
                <button class="btn-view-account">View Account</button>
            </div>
        </div>
    </div>
</div>